{% extends "bootstrap.html" %}

{% block header %}
    <nav class = "navbar navbar-expand-sm navbar-light" style = "background-color:#7289DA">
        <a class = "navbar-brand mb-0 h1">
            <img src="{{ marriagebot_img }}" width = "64" height = "64" class = "d-inline-block align-top">
            MarriageBot
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
            <ul class = "navbar-nav mr-auto">
                <li class = "nav-item active">
                    <a class = "nav-link" href="{{ colours_url }}">Colours</a>
                </li>
                <li class = "nav-item">
                        <a class = "nav-link" href="{{ guilds_url }}">Guilds</a>
                </li>
                <li class = "nav-item dropdown">
                        <a class = "nav-link dropdown-toggle"id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                            <img src = "{{ user_avatar }}" width = "30" height = "30" class = "d-inline-block align-top">
                            {{ username }}
                        </a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}

{% endblock %}